# Exercícios

## Porcentagem

### Enunciado

O objetivo desta tarefa é encontrar algum tipo de relação entre o atributo ***education*** e o atributo ***income*** da base de dados do censo.

- Carregue o arquivo census.csv

- Crie um novo dataframe com o pandas utilizando somente esses dois campos

- Você pode utilizar o comando groupby do pandas para agrupar os dados, ou seja, a quantidade de registros baseado nesses dois atributos. Acesse aqui a documentação

- Identifique o nível de educação que possuem as maiores e menores rendas. Lembre-se que nesta base de dados a renda assume somente os valores >50 e <=50

### Resolução

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/Estatística para Ciência de Dados e Machine Learning/Bases de dados/census.csv')[['income','education']]

In [ ]:
dataset

       income    education
0       <=50K    Bachelors
1       <=50K    Bachelors
2       <=50K      HS-grad
3       <=50K         11th
4       <=50K    Bachelors
...       ...          ...
32556   <=50K   Assoc-acdm
32557    >50K      HS-grad
32558   <=50K      HS-grad
32559   <=50K      HS-grad
32560    >50K      HS-grad

[32561 rows x 2 columns]

In [ ]:
dataset2 = dataset.groupby(['education','income']).size().reset_index(name='counts')

In [ ]:
dataset2

        education  income  counts
0            10th   <=50K     871
1            10th    >50K      62
2            11th   <=50K    1115
3            11th    >50K      60
4            12th   <=50K     400
5            12th    >50K      33
6         1st-4th   <=50K     162
7         1st-4th    >50K       6
8         5th-6th   <=50K     317
9         5th-6th    >50K      16
10        7th-8th   <=50K     606
11        7th-8th    >50K      40
12            9th   <=50K     487
13            9th    >50K      27
14     Assoc-acdm   <=50K     802
15     Assoc-acdm    >50K     265
16      Assoc-voc   <=50K    1021
17      Assoc-voc    >50K     361
18      Bachelors   <=50K    3134
19      Bachelors    >50K    2221
20      Doctorate   <=50K     107
21      Doctorate    >50K     306
22        HS-grad   <=50K    8826
23        HS-grad    >50K    1675
24        Masters   <=50K     764
25        Masters    >50K     959
26      Preschool   <=50K      51
27    Prof-school   <=50K     153
28    Prof-school    >50K     423
29   Some-college   <=50K    5904
30   Some-college    >50K    1387

In [ ]:
education_total = dataset2.groupby('education')['counts'].transform('sum')
dataset2['%_education'] = (dataset2['counts'] / education_total) * 100

grand_total = dataset2['counts'].sum()

dataset2['%_overall'] = (dataset2['counts'] / grand_total) * 100

In [ ]:
display(dataset2)

        education  income  counts  %_education  %_overall
0            10th   <=50K     871    93.354770   2.674979
1            10th    >50K      62     6.645230   0.190412
2            11th   <=50K    1115    94.893617   3.424342
3            11th    >50K      60     5.106383   0.184270
4            12th   <=50K     400    92.378753   1.228463
5            12th    >50K      33     7.621247   0.101348
6         1st-4th   <=50K     162    96.428571   0.497528
7         1st-4th    >50K       6     3.571429   0.018427
8         5th-6th   <=50K     317    95.195195   0.973557
9         5th-6th    >50K      16     4.804805   0.049139
10        7th-8th   <=50K     606    93.808050   1.861122
11        7th-8th    >50K      40     6.191950   0.122846
12            9th   <=50K     487    94.747082   1.495654
13            9th    >50K      27     5.252918   0.082921
14     Assoc-acdm   <=50K     802    75.164011   2.463069
15     Assoc-acdm    >50K     265    24.835989   0.813857
16      Assoc-voc   <=50K    1021    73.878437   3.135653
17      Assoc-voc    >50K     361    26.121563   1.108688
18      Bachelors   <=50K    3134    58.524743   9.625012
19      Bachelors    >50K    2221    41.475257   6.821044
20      Doctorate   <=50K     107    25.907990   0.328614
21      Doctorate    >50K     306    74.092010   0.939775
22        HS-grad   <=50K    8826    84.049138  27.106047
23        HS-grad    >50K    1675    15.950862   5.144191
24        Masters   <=50K     764    44.341265   2.346365
25        Masters    >50K     959    55.658735   2.945241
26      Preschool   <=50K      51   100.000000   0.156629
27    Prof-school   <=50K     153    26.562500   0.469887
28    Prof-school    >50K     423    73.437500   1.299100
29   Some-college   <=50K    5904    80.976546  18.132121
30   Some-college    >50K    1387    19.023454   4.259697

## Coeficientes e Taxas

### Enunciado

O objetivo deste exercício é calcular o coeficiente e a taxa de evasão utilizando a tabela abaixo. Faça os cálculos manuais e depois implemente em Python

![image.png]()

### Resolução

In [1]:
import pandas as pd

In [11]:
data = {'ano': ['1', '2','3','4', 'total'],
        'matriculas_marco': [70,50,47,23,190],
        'matriculas_novembro': [65,48,40,22,175]}

df = pd.DataFrame(data)
df

     ano  matriculas_marco  matriculas_novembro
0      1                70                   65
1      2                50                   48
2      3                47                   40
3      4                23                   22
4  total               190                  175

In [14]:
df['coeficiente'] = (df['matriculas_marco'] - df['matriculas_novembro']) / df['matriculas_marco']
df

     ano  matriculas_marco  matriculas_novembro  coeficiente  taxa_evasao
0      1                70                   65     0.071429     0.928571
1      2                50                   48     0.040000     0.960000
2      3                47                   40     0.148936     0.851064
3      4                23                   22     0.043478     0.956522
4  total               190                  175     0.078947     0.921053

In [16]:
df['taxa_evasao'] = df['coeficiente'] * 100
df

     ano  matriculas_marco  matriculas_novembro  coeficiente  taxa_evasao
0      1                70                   65     0.071429     7.142857
1      2                50                   48     0.040000     4.000000
2      3                47                   40     0.148936    14.893617
3      4                23                   22     0.043478     4.347826
4  total               190                  175     0.078947     7.894737

### Insight

* **Tendência Geral de Redução (Exceto Ano 3):** Excluindo o pico do ano 3, há uma tendência geral de melhora na retenção, com as taxas caindo do ano 1 (7.14%) para o ano 2 (4.00%) e para o ano 4 (4.34%).

* **Picos Significativos na Evasão:** O ponto mais imediato a se observar é o salto na taxa de evasão do ano 2 para o ano 3. A taxa aumentou de 4% para quase 15% (14.893617%).